<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Ahmad\Desktop\Daneshjooyar\App_Data\Database.mdf;Integrated Security=TrueData Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add data="" source=".\SQLEXPRESS;Integrated" Security=""SSPI;AttachDBFilename=|"DataDirectory|aspnetdb.mdf;User" Instance="true"/>-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <customErrors defaultRedirect="~/404.aspx" redirectMode="ResponseRewrite" mode="Off">
      <error statusCode="404" redirect="~/404.aspx" />
      <error statusCode="500" redirect="~/500.aspx" />
    </customErrors>
    <authentication mode="Forms">
      <forms defaultUrl="~/login.aspx" protection="All" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <roleManager defaultProvider="AspNetWindowsTokenRoleProvider" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TestSoap" />
        <binding name="SendSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:31236/Test.asmx" binding="basicHttpBinding" bindingConfiguration="TestSoap" contract="WebService.Iranian.TEST.TestSoap" name="TestSoap" />
      <endpoint address="http://www.panelesms.com/post/send.asmx" binding="basicHttpBinding" bindingConfiguration="SendSoap" contract="WebService.Iranian.SMS.SendSoap" name="SendSoap" />
    </client>
  </system.serviceModel>
</configuration>